// Fonts
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  src: url('https://fonts.googleapis.com/css?family=Oswald') format('woff2'),
      url('https://fonts.googleapis.com/css?family=Oswald') format('woff');
}

@font-face {
  font-family: "Staatliches";
  font-style: normal;
  src: url('https://fonts.googleapis.com/css?family=Staatliches') format('woff2'),
      url('https://fonts.googleapis.com/css?family=Staatliches') format('woff');
}

// Variables
$accentFont: 'Staatliches';
$baseFont: 'Oswald', sans-serif;

// Colors
$black: #25262B;
$blue: #596D77;
$darkGreen: #242925;
$lightPink: #CCC0C9;
$pink: #B18592;
$purple: #4C3741;
$white: #FFF;

// Mixins
@import './mixins/media-queries';

// Imports
@import 'global';
@import 'reset';
@import './components/nav';

