$tablet: 768px;
$desktop-small: 1024px;
$desktop-large: 1440px;

@mixin tablet {
  @media (min-width: #{$tablet}) and (max-width: #{$desktop-small - 1px}) {
    @content;
  }
}

@mixin desktop-small {
  @media (min-width: #{$desktop-small}) {
    @content;
  }
}

@mixin desktop-large {
  @media (min-width: #{$desktop-large}) {
    @content;
  }
}